body {
    font-family: 'Montserrat', sans-serif;
    color: #47515B;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F4742E;
    padding: 15px 25px;
}

.section {
    background-color: #98f2c8;
    font-size: 20px;
    height: 100%;
    margin: 0;
}



@media (min-width: 768px) {
    .column {
        float: left;
    }
}

/**---------------- Navbar ---------------**/

.navbar {

    width: 100%;
    background-color: #47515B;
    border: 0;
    border-radius: 0;
    z-index: 1;
}

.navbar .navbar-brand {
    font-family: 'Syncopate', sans-serif;
    font-size: 150%;
    color: #ffffff;
}

.navbar .navbar-brand:hover {
    font-family: 'Syncopate', sans-serif;
    font-size: 150%;
    color: #ffffff;
}

.navbar-monkees {
    background-color: #47515B;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.navbar-monkees:hover {
    background-color: #47515B;
    color: #DD5911;
    
}

.navbar-monkees .navbar-nav>.active>a,
.navbar-monkees .navbar-nav>.active>a:focus,
    {
    color: #ffffff;
    background-color: #47515B;
}

.navbar-monkees .navbar-nav>.active>a:hover {
    color: #DD5911;
    background-color: #47515B;
}

.navbar-monkees .navbar-nav>li>a {
    color: #ffffff;
    background-color: #47515B;
}
.navbar-monkees .navbar-nav>li>a:focus,
.navbar-monkees .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #47515b;
}



/**---------------- Jumbotron ---------------**/

.callout-container {
    height: 80vh;
    background: url('/assets/images/monkees.jpg') no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}



.jumbotron {
    background-color: transparent;
   
}

.jumbotron h1 {
    color: #DD5911;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px black;
   
}

.jumbotron .lead {
    color: white;
    margin: 25px 0;
    text-shadow: 0.5px 0.5px black;
 
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: white;
    text-shadow: 0.25px 0.25px black;
    
}

/**---------------- BandBio ---------------**/
.bandBio {
    text-align: center;
    margin: 20px;
    font-size: 150%;
}

/**---------------- Quotes ---------------**/

.quotes .page-header {
    margin-bottom: 25px;
}

.quote {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 160%;
}

.quote .cite {
     font-family: 'Montserrat', sans-serif;
}



/**---------------- Footer ---------------**/

.page-footer {
    background-color: #bada55;
    color: #ffffff;
    min-height: 120px;
    margin-left: auto;
    padding: 20px;

}

.page-footer a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.page-footer a:hover {
    background-color: #ffffff;
    color: #bada55;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .page-footer a {
        float: none;
        width: 100%;
        display: inline-block;
    }
}

/**---------------- Buttons ---------------**/

.navbar-btn {
    border: 0;
    border-radius: 10px;
    width: 200px;
    background-color: #DD5911;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-btn:hover {
    color: #ffffff;
    background-color: #DD5911;
    border: none;
}

.btn-monkeeMail {
    border: 0;
    border-radius: 10px;
    width: 200px;
    background-color: #DD5911;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.btn-monkeeMail:hover {
    color: #ffffff;
    background-color: #b0470d;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}


.btn-monkeeQuery {
    border: 0;
    border-radius: 10px;
    width: 200px;
    background-color: #DD5911;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn-monkeeQuery:hover {
    color: #ffffff;
    background-color: #b0470d;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

/**---------------- Contact us ---------------**/

.contact-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    margin: 0 auto;
    max-width: 60%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 15px;
}
    
