body {
    font-family: 'Montserrat', sans-serif;
    color: #47515b;
    background-color: #f0f0f0;
    width: 100%;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4742e;
    padding: 15px 25px;
}

.section {
    background-color: #98f2c8;
    font-size: 20px;
    height: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .column {
        float: left;
    }
}

.h1, h2{
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    text-align: center;
}

.h3, h4, h5, h6{
     font-family: 'Montserrat', sans-serif;
}

.h1{
    font-size:70px;
}

h2 {
    font-size: 45px;
}

.h3 {
    font-size: 35px;
}

.h4{
   font-size:25px;
}

.h5{
    font-size: 18px;
    margin: 10px 20px;
}

.h6{
    font-size:14px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        font-size: 5px;
    }
}

@media screen and (max-width: 768px) {
    .h1,
    h2 {
        font-size: 24px;
    }
}


/**---------------- Navbar ---------------**/

.navbar {
    width: 100%;
    background-color: #47515b;
    border: 0;
    border-radius: 0;
    z-index: 1;
    margin:0px;
    padding:0px;
}

.navbar .navbar-brand {
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.navbar .navbar-brand:hover {
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.navbar-monkees {
    background-color: #47515b;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.navbar-monkees:hover {
    background-color: #47515B;
    color: #dd5911;

}

.navbar-monkees .navbar-nav>.active>a,
.navbar-monkees .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #47515b;
}

.navbar-monkees .navbar-nav>.active>a:hover {
    color: #dd5911;
    background-color: #47515b;
}

.navbar-monkees .navbar-nav>li>a {
    color: #ffffff;
    background-color: #47515B;
}

.navbar-monkees .navbar-nav>li>a:focus,
.navbar-monkees .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #47515b;
}

.icon-bar {
    background-color: #ffffff;
}

/**---------------- Jumbotron ---------------**/

.callout-container {
    height: 90vh;
    background: url('../../assets/images/monkees1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -20px;
}

@media screen and (max-width: 1200px) {
    .callout-container {
        height: 40vh;
    }
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #dd5911;
    font-family: 'Syncopate', sans-serif;
    font-size: 700%;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px black;
}

.jumbotron .lead {
    color: #dd5911;
    margin: 12px 0;
    text-shadow: 0.5px 0.5px black;
}

/**---------------- BandBio ---------------**/
.page-header {
    margin: 0;
}

.band-bio {
    margin: 30px;
    font-size: 18px;
}

.band-bio-second-line {
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .band-bio {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .band-bio-second-line {
        font-size: 14px;
    }
}

/**---------------- Quotes ---------------**/

.quotes .page-header {
    margin-bottom: 25px;
}

.quote {
    font-size: 16px;
    display: inline;
}

.quote-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .quote {
        font-size: 14px;
    }
}

/**---------------- Footer ---------------**/
.page-footer {
    background-color: #47515b;
    color: #ffffff;
    min-height: 120px;
    text-align: center;
    width: 100%;
}

.page-footer li,
.page-footer a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.page-footer ul,
.page-footer a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding:0;
}

.page-footer a:hover {
    color: #dd5911;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .page-footer-links li {
        display: block;
    }
}

.second-footer {
    background-color: #dd5911;
    color: #ffffff;
    min-height: 80px;
    text-align: center;
    text-decoration: none;
}

.social-media .fa {
    background: #bada55;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: x-large;
    margin: 0px 15px;
}

.fa:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .social-media .fa {
        margin:0px;
    }
}

/**---------------- Buttons ---------------**/
.navbar-btn {
    border: 0;
    border-radius: 10px;
    width: 105px;
    font-size: 11px;
    background-color: #dd5911;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-btn:hover {
    color: #ffffff;
    background-color: #dd5911;
    border: none;
}

.btn-monkee-mail {
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    background-color: #dd5911;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.btn-monkee-mail:hover {
    color: #ffffff;
    background-color: #b0470d;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.btn-monkee-mail-footer {
    border: 0;
    border-radius: 10px;
    width: 200px;
    background-color: #d3d3d3;
    color: #47515b;
    font-family: 'Montserrat', sans-serif;
    float: none;
}

.btn-monkee-mail-footer:hover {
    color: #47515b;
    background-color: #bdbdbd;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.btn-monkee-query {
    border: 0;
    border-radius: 10px;
    width: 200px;
    background-color: #dd5911;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn-monkee-query:hover {
    color: #ffffff;
    background-color: #b0470d;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.btn-events {
    border: 0;
    border-radius: 10px;
    padding: 8px 60px;
    margin: 20px;
    background-color: #dd5911;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.btn-events:hover {
    color: #ffffff;
    background-color: #b0470d;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#enquiry {
    display: flex;
    justify-content: center;
}

.btn-book {
    border: 0;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: #bada55;
    color: #47515b;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: hand;
}

/**---------------- Meet the band ---------------**/
.profile {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 50%;
}

.band-member-name {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #dd5911;
}

.meet-the-band-facts li:before {
    font-family: 'FontAwesome';
    content: '\f192';
    margin: 0 5px 0 -15px;
    color: #dd5911;
    font-size: large;
}

.meet-the-band-background {
    background-color: #47515b;
    padding: 10px;
    margin: 10px;
}

.mtb-text {
    color: #ffffff;
}

@media (min-width: 1200px) {
    .meet-the-band-background {
        width: 48%;
    }
}

/**---------------- Events ---------------**/

.timeline-item {
    padding: 60px 30px 0px 30px;
    position: relative;
    color: #47515b;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    top: 25px;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: Bold;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 68px;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #47515b;
}

.events-header {
    color: #47515b;
    margin-bottom: 50px;
}

.events-items {
    margin-bottom: 30px;
    text-align: center;
}

.enquire-here {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .enquire-here {
        font-size: 14px;
    }
}

/**---------------- Library ---------------**/
.video-center{
    margin: 0 auto;
    display:block;
}

.audio-full-width{
    width:100%;
}

.library-background {
    background-color: #47515b;
    padding: 20px;
    margin-bottom: 50px;
    }

.library-song-name {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #dd5911;
}

.library-song-facts-icon li:before {
    font-family: 'FontAwesome';
    content: '\f192';
    margin: 0 5px 0 -15px;
    color: #dd5911;
    font-size: large;
}

.library-song-facts {
    color: #ffffff;
}

.library-audio-background {
    background-color: #47515b;
    padding: 15px;
    margin: 10px;
}

/**---------------- Contact us ---------------**/
.center-form {
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 15px;
}

.form-group {
    margin-bottom: 0px;
}

.form-control {
    resize: none;
}

/**---------------- Modal ---------------**/
.radio {
    display:inline-block;
}