body {
    font-family: 'Montserrat', sans-serif;
    color: #47515B;
    background-color: #F0F0F0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F4742E;
    padding: 15px 25px;
}

.section {
    background-color: #98f2c8;
    font-size: 20px;
    height: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .column {
        float: left;
    }
}

.h1,
h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        font-size: 5px;
    }
}

@media screen and (max-width: 768px) {
    .h1,
    h2 {
        font-size: 24px;
    }
}

/**---------------- Navbar ---------------**/

.navbar {
    width: 100%;
    background-color: #47515B;
    border: 0;
    border-radius: 0;
    z-index: 1;
}

.navbar .navbar-brand {
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.navbar .navbar-brand:hover {
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.navbar-monkees {
    background-color: #47515B;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.navbar-monkees:hover {
    background-color: #47515B;
    color: #DD5911;

}

.navbar-monkees .navbar-nav>.active>a,
.navbar-monkees .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #47515B;
}

.navbar-monkees .navbar-nav>.active>a:hover {
    color: #DD5911;
    background-color: #47515B;
}

.navbar-monkees .navbar-nav>li>a {
    color: #ffffff;
    background-color: #47515B;
}

.navbar-monkees .navbar-nav>li>a:focus,
.navbar-monkees .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #47515b;
}

.icon-bar {
    background-color: #ffffff;
}

/**---------------- Jumbotron ---------------**/

.callout-container {
    height: 90vh;
    background: url('../../assets/images/monkees1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -20px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #DD5911;
    font-family: 'Syncopate', sans-serif;
    font-size: 700%;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px black;
}

.jumbotron .lead {
    color: #DD5911;
    margin: 12px 0;
    text-shadow: 0.5px 0.5px black;
}

/**---------------- BandBio ---------------**/

.bandBio {
    text-align: center;
    margin: 30px;
    font-size: 150%;
}

.page-header {
    margin: 0;
}

/**---------------- Quotes ---------------**/

.quotes .page-header {
    margin-bottom: 25px;
}

.quote {
    font-size: 120%;
    display: inline;
}

.quoteImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**---------------- Footer ---------------**/

.page-footer {
    background-color: #47515B;
    color: #ffffff;
    min-height: 120px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page-footer li,
.page-footer a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.page-footer a:hover {
    color: #DD5911;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .page-footer-links li {
        display: block;
    }
}

.second-footer {
    background-color: #DD5911;
    color: #ffffff;
    min-height: 80px;
    text-align: center;
    left: 0;
    bottom: 0;
    text-decoration: none;
    padding: 20px;
}

.fa {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: x-large;
}

.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
    background: #bada55;
    color: white;
}

.fa-twitter {
    background: #bada55;
    color: white;
}

.fa-youtube {
    background: #bada55;
    color: white;
}

/**---------------- Buttons ---------------**/

.navbar-btn {
    border: 0;
    border-radius: 10px;
    width: 200px;
    background-color: #DD5911;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-btn:hover {
    color: #ffffff;
    background-color: #DD5911;
    border: none;
}

.btn-monkeeMail {
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    background-color: #DD5911;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}


.btn-monkeeMail:hover {
    color: #ffffff;
    background-color: #b0470d;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.btn-monkeeMailFooter {
    border: 0;
    border-radius: 10px;
    width: 200px;
    background-color: #D3D3D3;
    color: #47515B;
    font-family: 'Montserrat', sans-serif;
    float: none;
}

.btn-monkeeMailFooter:hover {
    color: #47515B;
    background-color: #BDBDBD;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.btn-monkeeQuery {
    border: 0;
    border-radius: 10px;
    width: 200px;
    background-color: #DD5911;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn-monkeeQuery:hover {
    color: #ffffff;
    background-color: #b0470d;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.btn-events {
    border: 0;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #DD5911;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.btn-events:hover {
    color: #ffffff;
    background-color: #b0470d;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#enquiry {
    display: flex;
    justify-content: center;
}


.btn-book {
    border: 0;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: #bada55;
    color: #47515B;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: hand;
}

/**---------------- Meet the band ---------------**/

.polaroid {
    display: inline-block;
    background-color: #47515B;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
    word-wrap: break-word;
    width: auto;
    position: relative;
    height:680px;
}

.container {
    padding: 10px 20px;
}

.fa-dot-circle-o {
    color: #DD5911;
    margin: 5px;
}

.profile {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 50%;
}

.bandMemberName {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #dd5911;
}

.meetTheBandFacts li:before{
    font-family: 'FontAwesome';
    content: '\f192';
    margin: 0 5px 0 -15px;
    color: #dd5911;
    font-size: large;
}

/**---------------- Events ---------------**/

.h2 {
    font-family: 'Syncopate', sans-serif;
}

.timeline-item {
    padding: 60px 30px 0px 30px;
    position: relative;
    color: #47515B;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    top: 25px;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: Bold;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 68px;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #47515B;
}

.events-heading {
    color: #47515B;
    margin-bottom: 50px;
}

.events-items {
    margin-bottom: 30px;
    text-align: center;
}

/**---------------- Library ---------------**/

.carousel-inner {
    height: 400px;
    left: 25%;
}

.carousel-inner .item img {
    max-height: 650px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-caption {
    top: 58%;
    transform: translateX(-40%);
    bottom: initial;
    color: #fff2e6;
}

#library1 {
    background-image: url("../../assets/images/cover1.jpg");
    background-size: 50%;
    height: 435px;
    background-repeat: no-repeat;

}

#library2 {
    background-image: url("../../assets/images/cover3.jpg");
    background-size: 50%;
    height: 435px;
    background-repeat: no-repeat;
}

#library3 {
    background-image: url("../../assets/images/band.jpg");
    background-size: 40%;
    height: 435px;
    background-repeat: no-repeat;
}

/**---------------- Contact us ---------------**/

.contact-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    margin: 0 auto;
    max-width: 60%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 15px;
}
